<button id="scanButton">Стартирай QR Скенер</button>
<div id="reader" style="width: 300px; height: 300px; border: 1px solid black; display: none;"></div>
@Html.AntiForgeryToken()
<script src="https://unpkg.com/html5-qrcode"></script>
<script src="/js/qrCodeScanner.js"></script>
