@{
    ViewData["Title"] = "Add Game";
    // var today = DateTime.Now.ToString("dd-MM-yyyy");
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6 mb-2">
                    <label class="form-label-add-edit">Title</label>
                    <input class="form-control" aria-required="true" />
                    <span class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label class="form-label-add-edit">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input  class="form-control" aria-required="true" type="number" step="0.01" min="0" />
                    </div>
                    <span  class="text-danger"></span>
                </div>
            </div>

            <div class="mb-2">
                <label class="form-label-add-edit">Publishing Studio</label>
                <input  class="form-control" aria-required="true" rows="2"></input>
                <span  class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label  class="form-label-add-edit">Year Published</label>
                <input  class="form-control" aria-required="true" rows="2"></input>
                <span  class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label  class="form-label-add-edit">Description</label>
                <textarea  class="form-control" aria-required="true" rows="2"></textarea>
                <span class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label class="form-label-add-edit">Quantity In Stock</label>
                <input class="form-control" aria-required="true" rows="2"></input>
                <span  class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label class="form-label-add-edit">Image</label>
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="size-6"
                         width="10%"
                         height="10%">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                    </svg>
                    <input type="file" class="form-control" aria-required="false" placeholder="Select image file (optional)" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-2">
                    <label class="form-label-add-edit">Added On</label>
                    <input class="form-control" aria-required="true" value="" />
                    <span class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label class="form-label-add-edit">Select Category</label>
                    <select class="form-control" aria-required="true" >
                        <option value="">Select Category...</option>
                    </select>
                    <span class="text-danger"></span>
                </div>
            </div>

            <div class="mb-2">
                <input class="btn btn-primary btn-dark-white w-100 py-2 fw-bold rounded" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
