@{
    ViewData["Title"] = "Add Review";
    // var today = DateTime.Now.ToString("dd-MM-yyyy");
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="mb-2">
                <label class="form-label-add-edit">Content</label>
                <textarea class="form-control" aria-required="true" rows="2"></textarea>
                <span class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label class="form-label-add-edit">Rating</label>
                <input class="form-control" aria-required="true" type="number" step="0.0" min="0" />
                <span  class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label class="form-label-add-edit">Added On</label>
                <input class="form-control" aria-required="true" value="" />
                <span class="text-danger"></span>
            </div>

            <div class="mb-2">
                <input class="btn btn-primary btn-light-text w-100 py-2 fw-bold rounded" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div> 