@model GameVerse.Web.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

 @* <div class="text-center">
     <h1 class="display-4">Welcome</h1>
     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
 </div> *@
 
 <partial name="_HeroSectionPartial" />
 
 <partial name="_LatestAddedGamesSlider", model="Model.Last3Games"/>

 <partial name="_LatestEvents", model="Model.Last3Events"/>